<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="navbar">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="#">📚 Library</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/books}">Books</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/borrow/my}">My Borrows</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/admin}">Admin</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
